<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052329601563-43u5cl7bce2jrl9kkmldcvff1utidn3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052329601563-43u5cl7bce2jrl9kkmldcvff1utidn3m</string>
	<key>API_KEY</key>
	<string>AIzaSyBOvlHFQVV-s4JRpKbkzOD2cL-lS-73QrU</string>
	<key>GCM_SENDER_ID</key>
	<string>1052329601563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-da1f5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-da1f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052329601563:ios:b9c05c20d34f8201d326be</string>
</dict>
</plist>